* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --green: rgba(57, 139, 78, 0.87);
  --blue: #4a6fe9;
  --blue2: #3f60c9;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--green);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.water-bar {
  width: 10rem;
  height: 30rem;
  background-color: rgba(0 0 0 /0.4);

  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
}
.water-bar p {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 1rem;
  font-size: 1.5rem;
}

.water-bar > .fullness {
  height: 100%;
  width: 100%;
  position: relative;
  /* background-color: var(--blue); */
  background-image: linear-gradient(180deg, var(--blue) 0% 40%, var(--blue2));

  transition: transform linear;
  clip-path: path('M0');
}

.water-bar > .fullness > .wave {
  width: 100%;
  transform: translateY(-95%);
}

.water-bar > .fullness > .wave > path {
  fill: var(--blue);
  animation: wave 20s infinite linear;
}

@keyframes wave {
  0% {
    d: path(
      'M0,288L48,245.3C96,203,192,117,288,122.7C384,128,480,224,576,266.7C672,309,768,299,864,261.3C960,224,1056,160,1152,128C1248,96,1344,96,1392,96L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'
    );
  }
  33% {
    d: path(
      'M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'
    );
  }
  66% {
    d: path(
      'M0,32L48,32C96,32,192,32,288,48C384,64,480,96,576,128C672,160,768,192,864,170.7C960,149,1056,75,1152,69.3C1248,64,1344,128,1392,160L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'
    );
  }
}

button {
  padding: 2rem;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: black;
  transition: transform 300ms;
}

button:hover {
  cursor: pointer;
  transform: translateY(3px);
}
